<div layout="row" layout-sm="column" layout-margin>

	<!-- Atividades -->
  <div flex flex-order="1">
    <md-toolbar class="md-theme-light">
	    <h2 class="md-toolbar-tools">
	      <span>Atividades</span>
	    </h2>
  	</md-toolbar>
  	<md-content>
    <md-list>
      <md-item ng-repeat="task in tasks">
        <md-item-content>
          <div class="md-tile-content">
            <h3>{{task.name}}</h3>
          </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
  </md-content>
  </div>

  <!-- Detalhes -->
  <div flex="66" flex-order="2">
    <md-toolbar class="md-theme-light">
	    <h2 class="md-toolbar-tools">
	      <span>NOME</span>
	    </h2>
  	</md-toolbar>
  </div>
</div>
