<div id="page-wrapper" ng-cloak>

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <div class="sidebar-main">
      <p>Painel do Usuário<i class="fa fa-home"></i></p>
    </div>
    <div class="sidebar-title">
      <span>Atividades</span><button class="btn btn-primary pull-right" ng-click="createNewActivity()" pbl-permission="Professor">Criar nova</button>
    </div>
    <div class="sidebar-items">
      <div id="dash-sidebar-help" ng-hide="currentActivity" pbl-permission="Professor">
        <h4>Bem vindo!</h4>Este é seu painel do usuário. Aqui você pode visualisar e criar atividades novas.<br><br>Utilize o painel do usuário para gerenciar suas atividades, adicionar ou remover usuários, acompanhar seu andamento, entre outros.<br><br>Para editar ou abrir uma atividade, clique em <br><kbd>Ir para a atividade <i class="fa fa-share"></i></kbd><br><br>Que tal começar criando uma atividade nova?
      </div>
      <div id="dash-sidebar-help" ng-hide="currentActivity" pbl-permission="Aluno">
        <h4>Bem vindo!</h4>Este é seu painel do usuário. Aqui você pode visualisar as atividades que você tem acesso.<br><br>Utilize o painel do usuário para saber detalhes sobre suas atividades, acompanhar seu andamento, entre outros.<br><br>Parece que no momento você não tem acesso a nenhuma atividade, peça para seu professor convidá-lo!
      </div>
      <ul class="sidebar">
        <li class="sidebar-list" ng-repeat="activity in activities.active" ng-click="setCurrentActivity(activity)">
          <a href="" ng-class="{'active': activity.id === currentActivity.id}"><i class="fa fa-cube"></i>{{activity.name}}</a>
        </li>
      </ul>
      <ul class="sidebar">
        <li class="sidebar-list" ng-repeat="activity in activities.finished" ng-click="setCurrentActivity(activity)">
          <a class="finished" href="" ng-class="{activity.id === currentActivity.id}"><img src="assets/images/finished-tag.svg"/>{{activity.name}}</a>
        </li>
      </ul>
    </div>
    <!-- Sidebar footer -->
    <div class="sidebar-footer">
      <div class="col-xs-6">
        <a href="#/help"><i class="fa fa-question-circle"></i> Ajuda</a>
      </div>
      <div class="col-xs-6">
        <a href="#/about"><i class="fa fa-info-circle"></i> Sobre</a>
      </div>
    </div>
    <!-- End Sidebar Footer -->
  </div>
  <!-- End Sidebar -->

  <!-- Page Content -->
  <!-- Activity Header Row -->
  <div class="row header" ng-hide="!currentActivity">
    <div class="col-xs-12">
      <div class="meta">
        <div class="page">
          <button id="btn-delete" type="button" class="btn btn-danger pull-right" ng-click="openComfirmActivityDeleteModal()" pbl-permission="Professor"><i class="fa fa-trash"></i> Excluir</button>
          <button id="btn-open" type="button" class="btn btn-primary pull-right" ng-click="openActivity(currentActivity.id)">Ir para a atividade <i class="fa fa-share"></i></button>
          <h3 id="activity-title"><i class="fa fa-cube"></i> {{currentActivity.name}}</h3>
        </div>
      </div>
    </div>
  </div>
  <!-- End Activity Header Row -->
  <div class="page-content">

    <!-- Main Content -->
    <!-- Widgets row -->
    <div ui-view>

      <div name="activity-content" ng-hide="!currentActivity">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
              <div class="widget-body">
                <div class="widget-icon pull-left">
                  <i class="fa fa-users"></i>
                </div>
                <div class="title"><h3>{{currentActivity.participants.length}}</h3></div>
                <div class="comment"><h5>Participantes</h5></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
              <div class="widget-body">
                <div class="widget-icon pull-left">
                  <i class="fa fa-anchor"></i>
                </div>
                <div class="title"><h3>{{currentActivity.status | activityStatus}}</h3></div>
                <div class="comment"><h5>Estado</h5></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
              <div class="widget-body">
                <div class="widget-icon pull-left">
                  <i class="fa fa-line-chart"></i>
                </div>
                <div class="title"><h3>{{currentActivity.status | activityProgress}}</h3></div>
                <div class="comment"><h5>Progresso</h5></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="widget">
              <div class="widget-body">
                <div class="widget-icon pull-left">
                  <i class="fa fa-calendar"></i>
                </div>
                <div class="title"><h3>{{currentActivity.created | date:'dd/MM/yy'}}</h3></div>
                <div class="comment"><h5>Data de Criação</h5></div>
              </div>
            </div>
          </div>
        </div>
        <!-- End widgets row -->
        <!-- Panels -->
        <div class="row">
          <div class="col-lg-7 col-md-12 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-info-circle"></i> Resumo do Problema</h3>
              </div>
              <div class="panel-body">
                <div class="dash-empty-panel" ng-hide="currentActivity.summary">
                  <h4>O problema ainda não foi definido nesta atividade <i class="fa fa-frown-o"></i></h4>
                  <img id="empty-panel-pr" src="assets/images/empty-panel.svg">
                </div>
                <div ng-show="currentActivity.summary">{{currentActivity.summary | limitTo:'300'}} ...</div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <button type="button" class="btn btn-default navbar-btn navbar-right" ng-click="openNewParticipantModal()" pbl-permission="Professor"><i class="fa fa-user-plus"></i>Adicionar</button>
                <h3 class="panel-title"><i class="fa fa-users"></i> Participantes</h3>
              </div>
              <div class="panel-body">
                <table class="table table-hover" ng-if="currentActivity.participants.length">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th class="col-md-1 col-xs-1 table-txt-middle">Participações</th>
                      <th class="col-md-1 col-xs-1 table-txt-middle">Excluir</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="participant in currentActivity.participants | orderBy:'-numberOfPosts'">
                      <td>{{participant.name}}</td>
                      <td><span class="badge">{{participant.numberOfPosts}}</span></td>
                      <td>
                        <a href="javascript:void(0);" ng-click="removeParticipant(participant.id)" pbl-permission="Professor">
                          <i class="fa fa-user-times"></i>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="dash-empty-panel" ng-if="!currentActivity.participants.length">
                  <h4>Nenhum participante foi convidado ainda <i class="fa fa-frown-o"></i></h4>
                  <img id="empty-panel-pr" src="assets/images/empty-panel.svg">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-tags"></i> Participações recentes</h3>
              </div>
              <div class="panel-body">
                <div class="dash-empty-panel" ng-if="!currentActivity.posts.length">
                  <h4>Ninguém participou desta atividade <i class="fa fa-frown-o"></i></h4>
                  <img id="empty-panel-pr" src="assets/images/empty-panel.svg">
                </div>
                <div class="list-group" ng-if="currentActivity.posts.length">
                  <a class="list-group-item" ng-repeat="post in currentActivity.posts">
                    <h4 class="list-group-item-heading">{{post.owner}} postou um fato</h4>
                    <p class="list-group-item-text">{{post.content}}</p>
                    <p><small class="pull-right">{{currentActivity.created | date:'dd/MM/yy'}}</small></p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Dashboard No Content -->
      <div ng-hide="currentActivity">
        <div class="row" pbl-permission="Professor">
          <img id="svg-dash-arrow" src="assets/images/arrow.svg"/>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-xs-12">
            <img id="svg-dashboard-init" src="assets/images/dashboard-empty.svg"/>
          </div>
        </div>
      </div>
    </div>
    <!-- End Panels -->
    <!-- End Page Content -->

    <!-- Modal: cadastro de atividade -->
    <div class="modal fade background-static" id="newActivityModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
            <div class="modal-title"><h4>Nova atividade</h4></div>
          </div>
          <div class="modal-body">
            <form id="newActivityForm" class="form" name="newActivityForm" ng-submit="saveActivity()">

              <!-- Nome -->
              <div class="form-group">
                <label for="taskName">Nome da atividade</label>
                <input type="text" class="form-control" name="taskName" placeholder="Nome" required ng-model="newActivity.name">
                <small>O nome da atividade deve ser simples e objetivo. Ex: <i>Teorema de pitágoras</i></small>
              </div>
            </form>

            <!-- Adicionar participantes -->
            <div class="form-group">
              <label for="taskSummary">Participantes</label>
              <div class="input-group">
                <input type="email" class="form-control" name="taskNewParticipant" placeholder="aluno@exemplo.com.br" required ng-model="newActivity.participant">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary" ng-disabled="!newActivity.participant || taskNewParticipant.$invalid" ng-click="addNewParticipantToNewActivity(newActivity.participant)">Adicionar</button>
                </span>
              </div><!-- /input-group -->
              <small>Use este campo para convidar alunos para esta atividade. Você também pode convidá-los mais tarde, não se preocupe.</small> 

              <!-- Lista de participantes convidados -->
              <table class="table table-striped talbe-condensed" ng-if="newActivity.participants && newActivity.participants.length > 0">
                <thead>
                  <tr>
                    <th class="col-md-10">e-mail</th>
                    <th class="col-md-2">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="participant in newActivity.participants">
                    <td>{{participant.email}}</td>
                    <td>
                      <button type="button" class=" btn btn-danger btn-xs" ng-click="removeNewParticipant($index)">&times; Remover</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" form="newActivityForm" class="btn btn-primary" ng-disabled="newActivityForm.$invalid">Salvar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal: adicionar participante -->
    <div class="modal fade background-static" id="addParicipantModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
            <div class="modal-title"><h4>Adicionar participante</h4></div>
          </div>
          <div class="modal-body">
            <form class="form" id="addParicipantForm" name="addParicipantForm" ng-submit="addNewParticipant(newParticipant.email)">

              <!-- E-mail -->
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                <input type="email" class="form-control" name="participantEmail" placeholder="aluno@exemplo.com.br" required ng-model="newParticipant.email">
              </div>
              <small>Use este campo para convidar um aluno para esta atividade.</small> 
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" form="addParicipantForm" class="btn btn-primary" ng-disabled="addParicipantForm.$invalid" >Adicionar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal: deletar atividade -->
    <div class="modal fade background-static" id="deleteActivityModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
            <div class="modal-title"><h4>Excluir Atividade</h4></div>
          </div>
          <div class="modal-body">
            <div class="tex-center">
              <p><h1><i class="fa fa-exclamation-triangle pull-right" style="color:tomato"></i></h1><strong>Tem certeza que deseja excluir esta atividade?</strong></p>
              <p>Não é possivel recuperar os dados após esta operação.</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
            <button type="button" class="btn btn-danger" ng-click="deleteActivity()">Sim</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>

