<!-- page wrapper -->
<div class="page-wrapper">

  <!-- sidebar top -->
  <div class="sidebar-help-top">
    <a href="#/dashboard"><i class="fa fa-long-arrow-left"></i> <i class="fa fa-home"></i></a>
    <pbl-svg name="activity.logo"></pbl-svg>
  </div>
  <!-- sidebar bottom -->
  <div class="sidebar-help-bottom">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default help" onclick="location.href='#/help'"><i class="fa fa-question-circle"></i> Ajuda</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default help" onclick="location.href='#/help#ext-links'"><i class="fa fa-external-link"></i> Apoio</button>
      </div>
    </div>
  </div>
  <!-- sidebar help -->
  <div class="sidebar-help">
    <div id="sb-help-title">
      <h4>Dicas</h4>
    </div>
    <!-- professor -->
    <div id="sb-help-content" pbl-permission="Professor">

      <div ng-show="content == 'tab-problem'">
        <p><i class="fa fa-question-circle"></i> O problema da atividade, o Material de Apoio e os Links Externos podem ser editados através do botão <span class="label label-success">editar</span> no interior do painel.</p>
        <p><i class="fa fa-info-circle"></i> Problemas eficientes devem ser provocativos, desafiadores, de conclusão aberta, direcionados para o centro de uma disciplina ou tópico. Podem originar de dilemas do mundo real que os estudantes julgarem interessantes e devem ser planejados de acordo com os objetivos específicos a serem alcançados.</p>
        <p><i class="fa fa-info-circle"></i> Utilize o campo Material de Apoio para listar tópicos que devem ser levados em consideração para o entendimento do problema.<br>O campo Links Externos pode ser utilizado para listar outros conteúdos também relevantes ao entendimento do problema, que estejam disponíveis através de links.</p>
        <p><i class="fa fa-question-circle"></i> Você pode convidar alunos para esta atividade retornando ao painel do usuário.</p>
      </div>
      <div ng-show="content == 'tab-facts'">
        <p><i class="fa fa-question-circle"></i> Para inserir um fato, use o botão <span class="label label-primary">Inserir fato</span></p>
        <p><i class="fa fa-question-circle"></i> Para excluir um fato, use o "X" no canto superior direito do mesmo.</p>
        <p><i class="fa fa-info-circle"></i> Através da leitura e análise do problema proposto, alunos trabalham neste estágio em pequenos grupos de forma ativa e colaborativa para discutir e levantar fatos conhecidos sobre o cenário apresentado. É possível ainda que estes fatos sejam obtidos ao questionar o professor para buscar informações adicionais sobre o problema, ou através de experimentos e pesquisa.<br>Os fatos listados neste estágio auxiliam os alunos na visualização do problema de forma objetiva. A qualquer momento durante o ciclo, alunos podem utilizá-los para refletir sobre os dados obtidos até aquele ponto e gerar perguntas que os conduzirão na pesquisa de conteúdo.</p>
        <p><i class="fa fa-info-circle"></i> Somente o professor pode excluir fatos.</p>
      </div>
      <div ng-show="content == 'tab-hypothesis'">
        <p><i class="fa fa-question-circle"></i> Para inserir uma hipótese, use o botão <span class="label label-primary">Inserir hipótese</span></p>
        <p><i class="fa fa-question-circle"></i> Para excluir uma hipótese, use o "X" no canto superior direito da mesma.</p>
        <p><i class="fa fa-info-circle"></i> Durante este estágio, os alunos geram hipóteses sobre a resolução do problema e sobre os mecanismos ou estratégias que podem utilizar para compreendê-lo melhor. Auxiliados pelo professor, é com base nestas hipóteses que os alunos identificam os conhecimentos que precisam aprender para resolver o problema.<br>Esta fase do ciclo promove a negociação de idéias - estimule os estudantes a apresentarem suas idéias e estratégias para seu grupo e defendê-las. Isto estimula a articulação do estado atual de compreensão dos alunos, ajudando na construção do conhecimento e preparando os alunos para o aprendizado.</p>
        <p><i class="fa fa-info-circle"></i> Somente o professor pode excluir hipóteses.</p>
      </div>
      <div ng-show="content == 'tab-research'">
        <p><i class="fa fa-question-circle"></i> O conteúdo para pesquisa pode ser editado através do botão <span class="label label-success">editar</span> no interior do painel.<br>Adicione todos os tópicos que devem ser pesquisados pelos alunos, incluindo também os conhecimentos que os próprios alunos julgam importantes para a resolução do problema.</p>
        <p><i class="fa fa-info-circle"></i> A aprendizagem auto-dirigida tem início neste estágio. Cada membro do grupo se envolve no estudo auto-dirigido para pesquisar e encontrar a informação necessária, usando uma variedade de recursos e fontes de informação disponíveis, viabilizando aprendizagem exploratória. Eles então se reúnem novamente em grupos para compartilhar o que aprenderam e avaliar as hipóteses levantadas previamente, preparando as respostas que serão inseridas no próximo estágio.</p>
      </div>
      <div ng-show="content == 'tab-resolution'">
        <p><i class="fa fa-question-circle"></i> Para inserir uma resposta, use o botão <span class="label label-primary">Inserir resposta</span></p>
        <p><i class="fa fa-question-circle"></i> Para excluir uma resposta, use o "X" no canto superior direito da mesma.</p>
        <p><i class="fa fa-info-circle"></i> Depois de concluírem a exploração necessária e o estudo, os alunos devem organizar suas as ideias e conceitos por meio de discussão, exercitar a habilidade de pensamento crítico e aplicar o que aprenderam.<br>Neste estágio, estudantes devem apresentar à classe suas propostas para a resolução final da situação que deu início ao processo de aprendizagem, inserindo respostas com as conclusões que obtiveram. Como os problemas são abertos à interpretação, é importante salientar a possibilidade de mais de uma resposta correta.</p>
        <p><i class="fa fa-info-circle"></i> Somente o professor pode excluir respostas.</p>
      </div>
      <div ng-show="content == 'tab-abstraction'">
        <p><i class="fa fa-question-circle"></i> A descrição da abstração pode ser editada através do botão <span class="label label-success">editar</span> no interior do painel.</p>
        <p><i class="fa fa-info-circle"></i> Depois de terem contribuído com a resolução do problema, os participantes devem refletir sobre a atividade e avaliar a si mesmos quanto ao que aprenderam e como aprenderam. Esta reflexão sobre a relação entre a resolução do problema e o processo de aprendizagem é essencial no PBL, necessária para a construção da habilidade de compreensão e raciocínio dos estudantes.</p>
        <p><i class="fa fa-info-circle"></i> Utilize este painel para descrever os resultados da atividade, os pontos que se destacam em relação ao que foi produzido e se houve alguma dificuldade ou falha durante o processo. O ciclo é dimensionado de maneira que se possa reiniciá-lo caso não se tenha chegado a uma conclusão satisfatória nesta fase, podendo utilizar várias iterações para completar a atividade.</p>
        <p><i class="fa fa-question-circle"></i> Para encerrar a atividade, use o botão <span class="label label-success">Encerrar atividade</span></p>
        <p><i class="fa fa-question-circle"></i> Para recomeçar a atividade, use o botão <span class="label label-purple">Recomeçar atividade</span></p>
      </div>

      <p ng-hide="content == 'tab-abstraction'"><i class="fa fa-question-circle"></i> Para dar início ao próximo estado da atividade, use o botão <span class="label label-success">Avançar estado</span><br><i class="fa fa-exclamation-triangle"></i> Lembre-se que ao avançar para o estado seguinte, <strong>este estado permanecerá acessível para consulta, mas não poderá ser alterado novamente</strong>.</p>  
    </div>
    <!-- aluno -->
    <div id="sb-help-content" pbl-permission="Aluno">
      
      <div ng-show="content == 'tab-problem'">
        <p><i class="fa fa-info-circle"></i> Este é o cenário do problema definido pelo seu professor. Leia com atenção o problema, e utilize o Material de Apoio e os Links Externos caso disponíveis.</p>
      </div>
      <div ng-show="content == 'tab-facts'">
        <p><i class="fa fa-question-circle"></i> Para inserir um fato, use o botão <span class="label label-primary">Inserir fato</span></p>
        <p><i class="fa fa-exclamation-triangle"></i> Para excluir um fato que foi adicionado por engano ou com informações erradas, fale com seu professor.</p>
        <p><i class="fa fa-info-circle"></i> Após a leitura e análise do problema proposto, alunos trabalham neste estágio em pequenos grupos de forma ativa e colaborativa para discutir e levantar fatos conhecidos sobre o cenário apresentado. É possível ainda que estes fatos sejam obtidos ao questionar o professor para buscar informações adicionais sobre o problema, ou através de experimentos e pesquisa. Use sua criatividade!<br>Os fatos listados neste estágio servem para auxiliar a visualização do problema de forma objetiva. A qualquer momento durante o ciclo, você pode utilizá-los para refletir sobre os dados obtidos e gerar perguntas que os conduzirão na pesquisa de conteúdo.</p>
      </div>
      <div ng-show="content == 'tab-hypothesis'">
        <p><i class="fa fa-question-circle"></i> Para inserir uma hipótese, use o botão <span class="label label-primary">Inserir hipótese</span></p>
        <p><i class="fa fa-exclamation-triangle"></i> Para excluir uma hipótese que foi adicionada por engano ou com informações erradas, fale com seu professor.</p>
        <p><i class="fa fa-info-circle"></i> Durante este estágio, crie hipóteses sobre a resolução do problema e sobre os mecanismos ou estratégias que você irá utilizar para compreendê-lo melhor. Auxiliados pelo professor, é com base nestas hipóteses que os alunos identificam os conhecimentos que precisam aprender para resolver o problema.<br>Esta fase do ciclo promove a negociação de idéias - apresente suas idéias e estratégias para seu grupo e discuta sobre elas.</p>
      </div>
      <div ng-show="content == 'tab-research'">
        <p><i class="fa fa-info-circle"></i> Em grupos, identifique o conteúdo que é necessário aprender para resolver o problema. O professor deve inserir cada um dos tópicos sugeridos pela turma, e poderá adicionar outros que achar conveniente.</p>
        <p><i class="fa fa-info-circle"></i> A aprendizagem auto-dirigida tem início neste estágio. Cada membro do grupo se envolve individualmente no estudo auto-dirigido para pesquisar e encontrar a informação necessária, usando os recursos e informações disponibilizadas pelo professor. Ao terminar a pesquisa, se reúna novamente com seu grupo para compartilhar o que aprendeu e avaliar as hipóteses levantadas previamente, preparando as respostas que serão inseridas no próximo estágio.</p>
      </div>
      <div ng-show="content == 'tab-resolution'">
        <p><i class="fa fa-question-circle"></i> Para inserir uma resposta, use o botão <span class="label label-primary">Inserir resposta</span></p>
        <p><i class="fa fa-exclamation-triangle"></i> Para excluir uma resposta que foi adicionada por engano ou com informações erradas, fale com seu professor.</p>
        <p><i class="fa fa-info-circle"></i> Organize suas ideias e conceitos por meio de discussão com o grupo. Neste estágio, cada grupo deve apresentar à classe suas propostas para a resolução final do problema, inserindo respostas com as conclusões que obtiveram. Como os problemas são abertos à interpretação, é importante salientar a possibilidade de mais de uma resposta correta.</p>
      </div>
      <div ng-show="content == 'tab-abstraction'">
        <p><i class="fa fa-info-circle"></i> Depois de ter contribuído com a resolução do problema, reflita sobre a atividade e avalie a si mesmo quanto ao que aprendeu e como aprendeu.</p>
        <p><i class="fa fa-info-circle"></i> Leia com atenção as informações descritas pelo professor neste painel. O ciclo poderá ser reiniciado caso não se tenha chegado a uma conclusão satisfatória nesta fase.</p>
      </div>

      <p><i class="fa fa-info-circle"></i> Sempre fale com seu professor caso tenha alguma dúvida e participe ativamente da atividade. Para detalhes do funcionamento do sistema, ou informações sobre a metodologia que está sendo aplicada, clique no botão <span class="label label-default">Ajuda</span></p> 
    </div>
  </div> <!-- /.sidebar help -->

  <!-- content wrapper -->
  <div class="content-wrapper">
    <!-- panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-cube"></i> {{::vm.activity.name}}</h3>
        <h3 class="panel-title">|</h3>
        <h3 class="panel-title"><i class="fa fa-anchor"></i> {{::vm.activity.status | activityStatus}}</h3>
        <h3 class="panel-title">|</h3>
        <h3 class="panel-title"><i class="fa fa-users"></i> {{::vm.activity.numberOfParticipants}}</h3>
      </div>
      <div class="panel-body">
        <main>
          <!-- tabs -->
          <label class="fake">.</label>
          <input id="tab-problem" type="radio" name="tabs" ng-model="content" value="tab-problem">
          <label for="tab-problem">Problema</label>
          <input id="tab-facts" type="radio" name="tabs" ng-model="content" value="tab-facts" ng-disabled="vm.activity.status < 2">
          <label for="tab-facts">Fatos</label>
          <input id="tab-hypothesis" type="radio" name="tabs" ng-model="content" value="tab-hypothesis" ng-disabled="vm.activity.status < 3">
          <label for="tab-hypothesis">Hipóteses</label>
          <input id="tab-research" type="radio" name="tabs" ng-model="content" value="tab-research" ng-disabled="vm.activity.status < 4">
          <label for="tab-research">Pesquisa</label>
          <input id="tab-resolution" type="radio" name="tabs" ng-model="content" value="tab-resolution" ng-disabled="vm.activity.status < 5">
          <label for="tab-resolution">Resolução</label>
          <input id="tab-abstraction" type="radio" name="tabs" ng-model="content" value="tab-abstraction" ng-disabled="vm.activity.status < 6">
          <label for="tab-abstraction">Abstração</label>
          <label class="fake">.</label> 
          <!-- /.tabs -->

          <!-- panel sections -->
          <!-- content-problem -->
          <section id="content-problem" ng-show="content == 'tab-problem'">
            <div class="container chalkboard">
              <div id="problem">
                <h4>Problema<a href="" ng-click="toggleModal('#storyDescriptionModal')" pbl-permission="Professor" ng-hide="vm.activity.status > 1"><span class="label label-success">editar</span></a></h4>
                <p>
                  {{::vm.activity.story.description}}
                </p>
              </div>
              <div id="resources">
                <h4>Material de apoio<a href="" ng-click="toggleModal('#helpfulMaterialsModal')" pbl-permission="Professor" ng-hide="vm.activity.status > 1"><span class="label label-success">editar</span></a></h4>
                <ul>
                  <li ng-repeat="material in vm.activity.story.helpfulMaterials">
                   {{::material}}
                  </li>
                </ul>
              </div>
              <div id="links">
                <h4>Links externos<a href="" ng-click="toggleModal('#externalLinksModal')" pbl-permission="Professor" ng-hide="vm.activity.status > 1"><span class="label label-success">editar</span></a></h4>
                <ul>
                  <li ng-repeat="link in vm.activity.story.externalLinks">
                    <a ng-href="http://{{link}}" target="_blank">{{::link}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <!-- content-facts -->
          <section id="content-facts" ng-show="content == 'tab-facts'">
            <div class="container chalkboard">
              <!-- posts -->
              <div class="post-it" ng-repeat="fact in vm.activity.fact">
                <div class="sticky fact">
                  <button type="button" class="close" aria-label="Fechar" pbl-permission="Professor" ng-click="deletePost(fact.id)" ng-hide="vm.activity.status > 2"><span aria-hidden="true">&times;</span></button>
                  <h5><strong>{{::fact.creator}}</strong></h5>
                  <p>{{::fact.content}}</p>
                  <p><small class="pull-right">{{::fact.date | date}}</small></p>
                </div>
              </div>
              <!-- /.posts -->
            </div>
          </section>
          <!-- content-hypothesis -->
          <section id="content-hypothesis" ng-show="content == 'tab-hypothesis'">
            <div class="container chalkboard">
              <!-- posts -->
              <div class="post-it" ng-repeat="hypothesis in vm.activity.hypothesis">
                <div class="sticky hypot">
                  <button type="button" class="close" aria-label="Fechar" pbl-permission="Professor" ng-click="deletePost(hypothesis.id)" ng-hide="vm.activity.status > 3"><span aria-hidden="true">&times;</span></button>
                  <h5><strong>{{::hypothesis.creator}}</strong></h5>
                  <p>{{::hypothesis.content}}</p>
                  <p><small class="pull-right">{{::hypothesis.date | date}}</small></p>
                </div>
              </div>
              <!-- /.posts -->
            </div>
          </section>
          <!-- content-research -->
          <section id="content-research" ng-show="content == 'tab-research'">
            <div class="container chalkboard">
              <div id="research">
                <h4>Conteúdo para pesquisa<a href="" ng-click="toggleModal('#researchMaterialModal')" pbl-permission="Professor" ng-hide="vm.activity.status > 4"><span class="label label-success">editar</span></a></h4>
                <ul>
                  <li ng-repeat="item in vm.activity.research">
                    {{item}}
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <!-- content-resolution -->
          <section id="content-resolution" ng-show="content == 'tab-resolution'">
            <div class="container chalkboard">
              <!-- posts -->
              <div class="post-it" ng-repeat="resolution in vm.activity.resolution">
                <div class="sticky resol">
                  <button type="button" class="close" aria-label="Fechar" pbl-permission="Professor" ng-click="deletePost(resolution.id)" ng-hide="vm.activity.status > 5"><span aria-hidden="true">&times;</span></button>
                  <h5><strong>{{::resolution.creator}}</strong></h5>
                  <p>{{::resolution.content}}</p>
                  <p><small class="pull-right">{{::resolution.date | date}}</small></p>
                </div>
              </div>
              <!-- /.posts -->
            </div>
          </section>
          <!-- content-abtraction -->
          <section id="content-abstraction" ng-show="content == 'tab-abstraction'">
            <div class="container chalkboard">
              <div id="abstraction">
                <h4>Abstração<a href="" ng-click="toggleModal('#abstractionModal')" pbl-permission="Professor"><span class="label label-success">editar</span></a></h4>
                <p>{{::vm.activity.abstraction}}</p>
              </div>
            </div>
          </section>
          <!-- /.panel sections -->
        </main>

        <!-- panel footer -->
        <div class="panel-footer">
          <div class="row">
            <div class="col-lg-3 col-lg-offset-4 col-md-3 col-md-offset-2 col-sm-4 actions">
              <button ng-show="content == 'tab-facts'" id="btn-insert-post" class="btn btn-primary btn-block" type="submit" data-toggle="modal" data-target="#enterPostModal" ng-disabled="vm.activity.status > 2">Inserir fato <i class="fa fa-arrow-circle-up"></i></button>
              <button ng-show="content == 'tab-hypothesis'" id="btn-insert-post" class="btn btn-primary btn-block" type="submit" data-toggle="modal" data-target="#enterPostModal" ng-disabled="vm.activity.status > 3">Inserir hipótese <i class="fa fa-arrow-circle-up"></i></button>
              <button ng-show="content == 'tab-resolution'" id="btn-insert-post" class="btn btn-primary btn-block" type="submit" data-toggle="modal" data-target="#enterPostModal" ng-disabled="vm.activity.status > 5">Inserir resposta <i class="fa fa-arrow-circle-up"></i></button>
            </div>
            <div class="col-lg-5 col-md-7 col-sm-8 actions" pbl-permission="Professor">
              <button ng-hide="content == 'tab-abstraction'" id="btn-next-status" class="btn btn-success pull-right" type="button" ng-click="nextStatus()" >Avançar estado <i class="fa fa-arrow-circle-right"></i></button>
              <button ng-show="content == 'tab-abstraction'" id="btn-next-status" class="btn btn-success pull-right" type="submit" data-toggle="modal" data-target="#finishActivityModal">Encerrar atividade <i class="fa fa-check-circle"></i></button>
              <button ng-show="content == 'tab-abstraction'" id="btn-next-status" class="btn btn-primary btn-purple pull-right" type="submit" data-toggle="modal" data-target="#restartActivityModal"><i class="fa fa-arrow-circle-left"></i> Recomeçar atividade</button>
            </div>
          </div>
        </div> <!-- /.panel footer -->
      </div>
    </div> <!-- /.panel -->
  </div> <!-- /.content wrapper -->

  <!-- Modal: editar descrição -->
  <div class="modal fade background-static" id="storyDescriptionModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title"><h4>Editar Problema</h4></div>
        </div>
        <div class="modal-body">
          <textarea class="form-control" rows="15" ng-model="vm.activity.story.description" placeholder="Descrição..." maxlength="1000"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" ng-click="saveStory('#storyDescriptionModal')">Salvar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal: editar material de apoio -->
  <div class="modal fade background-static" id="helpfulMaterialsModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title"><h4>Editar Material de Apoio</h4></div>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Google" ng-model="newMaterial"/>
            <span class="input-group-btn">
      <button type="button" class="btn btn-primary" ng-disabled="!newMaterial" ng-click="addItemToList(vm.activity.story.helpfulMaterials, newMaterial)">
        Adicionar</button>
            </span>
          </div><!-- /input-group -->
          <table class="table">
            <thead>
              <tr>
                <th class="col-md-10">Material</th>
                <th class="col-md-2">Excluir</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="material in vm.activity.story.helpfulMaterials track by $index">
                <td>
                  <span>{{::material}}</span>
                </td>
                <td>
                  <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="removeItemFromList(vm.activity.story.helpfulMaterials, $index)">&times;</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" ng-click="saveStory('#externalLinksModal')">Salvar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal: editar links externos -->
  <div class="modal fade background-static" id="externalLinksModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title"><h4>Editar Links Externos</h4></div>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="www.google.com.br" ng-model="newLink"/>
            <span class="input-group-btn">
      <button type="button" class="btn btn-primary" ng-disabled="!newLink" ng-click="addItemToList(vm.activity.story.externalLinks, newLink)">
        Adicionar</button>
            </span>
          </div><!-- /input-group -->
          <table class="table">
            <thead>
              <tr>
                <th class="col-md-10">Link</th>
                <th class="col-md-2">Excluir</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="link in vm.activity.story.externalLinks track by $index">
                <td>
                  <a href="http://{{link}}" target="_blank">{{::link}}</a>
                </td>
                <td>
                  <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="removeItemFromList(vm.activity.story.externalLinks, $index)">&times;</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" ng-click="saveStory('#externalLinksModal')">Salvar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal: editar conteúdo para pesquisa -->
  <div class="modal fade background-static" id="researchMaterialModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title"><h4>Editar Conteúdo para Persquisa</h4></div>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Insira um conteúdo" ng-model="newMaterial"/>
            <span class="input-group-btn">
      <button type="button" class="btn btn-primary" ng-disabled="!newMaterial" ng-click="addItemToList(vm.activity.research, newMaterial)">
        Adicionar</button>
            </span>
          </div><!-- /input-group -->
          <table class="table">
            <thead>
              <tr>
                <th class="col-md-10">Conteúdo</th>
                <th class="col-md-2">Excluir</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="material in vm.activity.research track by $index">
                <td>
                  <span>{{::material}}</span>
                </td>
                <td>
                  <button type="button" class="btn btn-danger btn-xs pull-right" ng-click="removeItemFromList(vm.activity.research, $index)">&times;</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" ng-click="saveStory('#researchMaterialModal')">Salvar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal: editar abstração -->
  <div class="modal fade background-static" id="abstractionModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title"><h4>Editar Abstração</h4></div>
        </div>
        <div class="modal-body">
          <textarea class="form-control" rows="15" ng-model="vm.activity.abstraction" placeholder="Descrição..." maxlength="1000"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" ng-click="saveStory('#abstractionModal')">Salvar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal: enter post -->
  <div class="modal fade background-static" id="enterPostModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title" ng-show="content == 'tab-facts'"><h4>Inserir Fato</h4></div>
          <div class="modal-title" ng-show="content == 'tab-hypothesis'"><h4>Inserir Hipótese</h4></div>
          <div class="modal-title" ng-show="content == 'tab-resolution'"><h4>Inserir Resposta</h4></div>
        </div>
        <div class="modal-body">
          <textarea class="form-control" rows="3" placeholder="Descrição..." maxlength="300" ng-model="postContent"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" ng-click="addPost(postContent, '#enterPostModal')">Inserir</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal: next status -->
  <div class="modal fade background-static" id="nextStatusModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title"><h4>Avançar Estado</h4></div>
        </div>
        <div class="modal-body">
          <div class="tex-center">
              <p><strong>Tem certeza que deseja iniciar o próximo estado da atividade?</strong></p> 
              <p>Ao iniciar o próximo estado, o estado atual não poderá mais ser alterado, mas continuará disponível para consulta.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" id="confirmNextStatus">Sim</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal: restart activity -->
  <div class="modal fade background-static" id="restartActivityModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title"><h4>Recomeçar Atividade</h4></div>
        </div>
        <div class="modal-body">
          <div class="tex-center">
              <p><strong>Escolha o estado a partir do qual você deseja recomeçar a atividade:</strong></p> 
              <p><i class="fa fa-info-circle"></i> Ao clicar no botão <span class="label label-primary">Recomeçar Fatos</span> , a atividade será re-iniciada a partir do levantamento de fatos.</p>
              <p><i class="fa fa-info-circle"></i> Ao clicar no botão <span class="label label-primary">Recomeçar Hipóteses</span> , a atividade será re-iniciada a partir do levantamento de hipóteses.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" ng-click="">Recomeçar Fatos</button>
          <button type="button" class="btn btn-primary" ng-click="">Recomeçar Hipóteses</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal: finish activity -->
  <div class="modal fade background-static" id="finishActivityModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title"><h4>Encerrar Atividade</h4></div>
        </div>
        <div class="modal-body">
          <div class="tex-center">
              <p><strong>Tem certeza que deseja encerrar esta atividade?</strong></p>
              <p>Após encerrada, a atividade não poderá ser re-iniciada, mas permanecerá disponível em seu painel de usuário para consulta. Caso a atividade ainda não tenha sido resolvida e você queira recomeçá-la, cancele e clique em <span class="label label-purple">Recomeçar atividade</span></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
          <button type="button" class="btn btn-success" ng-click="">Sim</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade background-static" id="confirmDeletePostModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title"><h4>Confirmação</h4></div>
        </div>
        <div class="modal-body">
          Você tem certeza que deseja excluir 
          <span ng-show="content == 'tab-facts'">este fato</span>
          <span ng-show="content == 'tab-hypothesis'">esta hipótese</span>
          <span ng-show="content == 'tab-resolution'">esta resposta</span>
          ?
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn">Não</button>
          <button type="button" data-dismiss="modal" class="btn btn-success" id="confirmDeletePost">Sim</button>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /.page wrapper -->
