<!-- page wrapper -->
<div class="page-wrapper">

  <!-- sidebar top -->
  <div class="sidebar-help-top">
    <a href="#/dashboard"><i class="fa fa-long-arrow-left"></i> <i class="fa fa-home"></i></a>
    <pbl-svg name="activity.logo"></pbl-svg>
  </div>
  <!-- sidebar bottom -->
  <div class="sidebar-help-bottom">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default help"><i class="fa fa-question-circle"></i> Ajuda</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default help"><i class="fa fa-external-link"></i> Exemplos</button>
      </div>
    </div>
  </div>
  <!-- sidebar help -->
  <div class="sidebar-help">
    <div id="sb-help-title">
      <h4>Dicas!</h4>
    </div>
    <div id="sb-help-content">
      <p ng-show="content == 'tab-problem'">tab problema tab problema tab problema tab problema tab problema tab problema tab problema tab problema tab problema tab problema tab problema tab problema tab problema tab problema</p>
      <p ng-show="content == 'tab-facts'">tab fatos tab fatos tab fatos tab fatos tab fatos tab fatos tab fatos tab fatos tab fatos tab fatos tab fatos tab fatos tab fatos tab fatos tab fatos tab fatos tab fatos tab fatos tab fatos</p>
      <p ng-show="content == 'tab-hypothesis'">tab hipóteses tab hipóteses tab hipóteses tab hipóteses tab hipóteses tab hipóteses tab hipóteses tab hipóteses tab hipóteses tab hipóteses tab hipóteses tab hipóteses tab hipóteses</p>
      <p ng-show="content == 'tab-research'">tab pesquisa tab pesquisa tab pesquisa tab pesquisa tab pesquisa tab pesquisa tab pesquisa tab pesquisa tab pesquisa tab pesquisa tab pesquisa tab pesquisa tab pesquisa tab pesquisa</p>
      <p ng-show="content == 'tab-resolution'">tab resolução tab resolução tab resolução tab resolução tab resolução tab resolução tab resolução tab resolução tab resolução tab resolução tab resolução tab resolução tab resolução</p>
      <p ng-show="content == 'tab-abstraction'">tab abstração tab abstração tab abstração tab abstração tab abstração tab abstração tab abstração tab abstração tab abstração tab abstração tab abstração tab abstração tab abstração</p>  
    </div>
  </div> <!-- /.sidebar help -->

  <!-- content wrapper -->
  <div class="content-wrapper">
    <!-- panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-cube"></i> {{::vm.activity.name}}</h3>
        <h3 class="panel-title">|</h3>
        <h3 class="panel-title"><i class="fa fa-anchor"></i> {{::vm.activity.status | activityStatus}}</h3>
        <h3 class="panel-title">|</h3>
        <h3 class="panel-title"><i class="fa fa-users"></i> {{::vm.activity.numberOfParticipants}}</h3>
      </div>
      <div class="panel-body">
        <main>
          <!-- tabs -->
          <label class="fake">.</label>
          <input id="tab-problem" type="radio" name="tabs" ng-model="content" value="tab-problem">
          <label for="tab-problem">Problema</label>
          <input id="tab-facts" type="radio" name="tabs" ng-model="content" value="tab-facts">
          <label for="tab-facts">Fatos</label>
          <input id="tab-hypothesis" type="radio" name="tabs" ng-model="content" value="tab-hypothesis">
          <label for="tab-hypothesis">Hipóteses</label>
          <input id="tab-research" type="radio" name="tabs" ng-model="content" value="tab-research">
          <label for="tab-research">Pesquisa</label>
          <input id="tab-resolution" type="radio" name="tabs" ng-model="content" value="tab-resolution">
          <label for="tab-resolution">Resolução</label>
          <input id="tab-abstraction" type="radio" name="tabs" ng-model="content" value="tab-abstraction">
          <label for="tab-abstraction">Abstração</label>
          <label class="fake">.</label> 
          <!-- /.tabs -->

          <!-- panel sections -->
          <!-- content-problem -->
          <section id="content-problem" ng-show="content == 'tab-problem'">
            <div class="container chalkboard">
              <div id="problem">
                <h4>Problema<a href="" ng-click="toggleModal('#storyDescriptionModal')" pbl-permission="Professor"><span class="label label-success">editar</span></a></h4>
                <p>
                  {{::vm.activity.story.description}}
                </p>
              </div>
              <div id="resources">
                <h4>Material de apoio<a href="" ng-click="toggleModal('#helpfulMaterialsModal')" pbl-permission="Professor"><span class="label label-success">editar</span></a></h4>
                <ul>
                  <li ng-repeat="material in vm.activity.story.helpfulMaterials">
                   {{::material}}
                  </li>
                </ul>
              </div>
              <div id="links">
                <h4>Links externos<a href="" ng-click="toggleModal('#externalLinksModal')" pbl-permission="Professor"><span class="label label-success">editar</span></a></h4>
                <ul>
                  <li ng-repeat="link in vm.activity.story.externalLinks">
                    <a ng-href="link">{{::link}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <!-- content-facts -->
          <section id="content-facts" ng-show="content == 'tab-facts'">
            <div class="container chalkboard">
              <!-- posts -->
              <div class="post-it" ng-repeat="fact in vm.activity.facts">
                <div class="sticky fact">
                  <button type="button" class="close" aria-label="Fechar" pbl-permission="Professor" ng-click="deletePost(fact.id)"><span aria-hidden="true">&times;</span></button>
                  <h5><strong>{{::fact.creator}}</strong></h5>
                  <p>{{::fact.content}}</p>
                  <p><small class="pull-right">{{::fact.date | date}}</small></p>
                </div>
              </div>
              <!-- /.posts -->
            </div>
          </section>
          <!-- content-hypothesis -->
          <section id="content-hypothesis" ng-show="content == 'tab-hypothesis'">
            <div class="container chalkboard">
              <!-- posts -->
              <div class="post-it" ng-repeat="hypothesis in vm.activity.hypothesis">
                <div class="sticky hypot">
                  <button type="button" class="close" aria-label="Fechar" pbl-permission="Professor" ng-click="deletePost(hypothesis.id)"><span aria-hidden="true">&times;</span></button>
                  <h5><strong>{{::hypothesis.creator}}</strong></h5>
                  <p>{{::hypothesis.content}}</p>
                  <p><small class="pull-right">{{::hypothesis.date | date}}</small></p>
                </div>
              </div>
              <!-- /.posts -->
            </div>
          </section>
          <!-- content-research -->
          <section id="content-research" ng-show="content == 'tab-research'">
            <div class="container chalkboard">
              <div id="research">
                <h4>Material para pesquisa<a href=""><span class="label label-success">editar</span></a></h4>
                <p>Biografia do Tiririca</p>
                <p>Livro - Como fazer amigos</p>
              </div>
            </div>
          </section>
          <!-- content-resolution -->
          <section id="content-resolution" ng-show="content == 'tab-resolution'">
            <div class="container chalkboard">
              <!-- posts -->
              <div class="post-it" ng-repeat="resolution in vm.activity.resolutions">
                <div class="sticky resol">
                  <button type="button" class="close" aria-label="Fechar" pbl-permission="Professor" ng-click="deletePost(resolution.id)"><span aria-hidden="true">&times;</span></button>
                  <h5><strong>{{::resolution.creator}}</strong></h5>
                  <p>{{::resolution.content}}</p>
                  <p><small class="pull-right">{{::resolution.date | date}}</small></p>
                </div>
              </div>
              <!-- /.posts -->
            </div>
          </section>
          <!-- content-abtraction -->
          <section id="content-abstraction" ng-show="content == 'tab-abstraction'">
            <div class="container chalkboard">
              <div id="abstraction">
                <h4>Abstração<a href=""><span class="label label-success">editar</span></a></h4>
                <p>Biografia do Tiririca</p>
                <p>Livro - Como fazer amigos</p>
              </div>
            </div>
          </section>
          <!-- /.panel sections -->
        </main>

        <!-- panel footer -->
        <div class="panel-footer">
          <div class="row">
            <div class="col-lg-3 col-lg-offset-4 col-md-3 col-md-offset-2 col-sm-4 actions">
              <button ng-show="content == 'tab-facts'" id="btn-insert-post" class="btn btn-primary btn-block" type="submit" data-toggle="modal" data-target="#enterPostModal">Inserir fato <i class="fa fa-arrow-circle-up"></i></button>
              <button ng-show="content == 'tab-hypothesis'" id="btn-insert-post" class="btn btn-primary btn-block" type="submit" data-toggle="modal" data-target="#enterPostModal">Inserir hipótese <i class="fa fa-arrow-circle-up"></i></button>
              <button ng-show="content == 'tab-resolution'" id="btn-insert-post" class="btn btn-primary btn-block" type="submit" data-toggle="modal" data-target="#enterPostModal">Inserir resposta <i class="fa fa-arrow-circle-up"></i></button>
            </div>
            <div class="col-lg-5 col-md-7 col-sm-8 actions">
              <button ng-hide="content == 'tab-abstraction'" id="btn-next-status" class="btn btn-success pull-right" type="submit" data-toggle="modal" data-target="#nextStatusModal">Avançar estado <i class="fa fa-arrow-circle-right"></i></button>
              <button ng-show="content == 'tab-abstraction'" id="btn-next-status" class="btn btn-success pull-right" type="submit" data-toggle="modal" data-target="#finishActivityModal">Encerrar atividade <i class="fa fa-check-circle"></i></button>
              <button ng-show="content == 'tab-abstraction'" id="btn-next-status" class="btn btn-primary btn-purple pull-right" type="submit" data-toggle="modal" data-target="#restartActivityModal"><i class="fa fa-arrow-circle-left"></i> Recomeçar atividade</button>
            </div>
          </div>
        </div> <!-- /.panel footer -->
      </div>
    </div> <!-- /.panel -->
  </div> <!-- /.content wrapper -->

  <!-- Modal: editar descrição -->
  <div class="modal fade background-static" id="storyDescriptionModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title"><h4>Editar Problema</h4></div>
        </div>
        <div class="modal-body">
          <textarea class="form-control" rows="5" ng-model="vm.activity.story.description" placeholder="Descrição..." maxlength="500"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" ng-click="saveStory('#storyDescriptionModal')">Salvar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal: editar material de apoio -->
  <div class="modal fade background-static" id="helpfulMaterialsModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title"><h4>Editar Materiais de Apoio</h4></div>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Google" ng-model="newMaterial"/>
            <span class="input-group-btn">
      <button type="button" class="btn btn-primary" ng-disabled="!newMaterial" ng-click="addItemToList(vm.activity.story.helpfulMaterials, newMaterial)">
        Adicionar</button>
            </span>
          </div><!-- /input-group -->
          <table class="table">
            <thead>
              <tr>
                <th class="col-md-10">
                  Material
                </th>
                <th class="col-md-2">
                  Excluir
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="material in vm.activity.story.helpfulMaterials track by $index">
                <td>
                  <span>{{::material}}</span>
                <td>
                <td>
                  <button type="button" class="btn btn-danger btn-xs" ng-click="removeItemFromList(vm.activity.story.helpfulMaterials, $index)">&times;</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" ng-click="saveStory('#externalLinksModal')">Salvar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <!-- Modal: editar links externos -->
  <div class="modal fade background-static" id="externalLinksModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title"><h4>Editar Links externos</h4></div>
        </div>
        <div class="modal-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="www.google.com.br" ng-model="newLink"/>
            <span class="input-group-btn">
      <button type="button" class="btn btn-primary" ng-disabled="!newLink" ng-click="addItemToList(vm.activity.story.externalLinks, newLink)">
        Adicionar</button>
            </span>
          </div><!-- /input-group -->
          <table class="table">
            <thead>
              <tr>
                <th class="col-md-10">
                  Link
                </th>
                <th class="col-md-2">
                  Excluir
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="link in vm.activity.story.externalLinks track by $index">
                <td>
                  <a href="{{link}}">{{::link}}</a>
                <td>
                <td>
                  <button type="button" class="btn btn-danger btn-xs" ng-click="removeItemFromList(vm.activity.story.externalLinks, $index)">&times;</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" ng-click="saveStory('#externalLinksModal')">Salvar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal: enter post -->
  <div class="modal fade background-static" id="enterPostModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title" ng-show="content == 'tab-facts'"><h4>Inserir Fato</h4></div>
          <div class="modal-title" ng-show="content == 'tab-hypothesis'"><h4>Inserir Hipótese</h4></div>
          <div class="modal-title" ng-show="content == 'tab-resolution'"><h4>Inserir Resposta</h4></div>
        </div>
        <div class="modal-body">
          <textarea class="form-control" rows="3" placeholder="Descrição..." maxlength="300" ng-model="postContent"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" ng-click="addPost(postContent, '#enterPostModal')">Inserir</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal: next status -->
  <div class="modal fade background-static" id="nextStatusModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title"><h4>Avançar Estado</h4></div>
        </div>
        <div class="modal-body">
          <div class="tex-center">
              <p><strong>Tem certeza que deseja iniciar o próximo estado da atividade?</strong></p> 
              <p>Ao iniciar o próximo estado, o estado atual não poderá mais ser alterado, mas continuará disponível para consulta.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
          <button type="button" class="btn btn-success" ng-click="">Sim</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal: restart activity -->
  <div class="modal fade background-static" id="restartActivityModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title"><h4>Recomeçar Atividade</h4></div>
        </div>
        <div class="modal-body">
          <div class="tex-center">
              <p><strong>Escolha o estado a partir do qual você deseja recomeçar a atividade:</strong></p> 
              <p><i class="fa fa-info-circle"></i> Ao clicar no botão <span class="label label-primary">Recomeçar Fatos</span> , a atividade será re-iniciada a partir do levantamento de fatos.</p>
              <p><i class="fa fa-info-circle"></i> Ao clicar no botão <span class="label label-primary">Recomeçar Hipóteses</span> , a atividade será re-iniciada a partir do levantamento de hipóteses.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" ng-click="">Recomeçar Fatos</button>
          <button type="button" class="btn btn-primary" ng-click="">Recomeçar Hipóteses</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal: finish activity -->
  <div class="modal fade background-static" id="finishActivityModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title"><h4>Encerrar Atividade</h4></div>
        </div>
        <div class="modal-body">
          <div class="tex-center">
              <p><strong>Tem certeza que deseja encerrar esta atividade?</strong></p>
              <p>Após encerrada, a atividade não poderá ser re-iniciada, mas permanecerá disponível em seu painel de usuário para consulta. Caso a atividade ainda não tenha sido resolvida e você queira recomeçá-la, cancele e clique em <span class="label label-purple">Recomeçar atividade</span></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
          <button type="button" class="btn btn-success" ng-click="">Sim</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade background-static" id="confirmDeletePostModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title"><h4>Confirmação</h4></div>
        </div>
        <div class="modal-body">
          Você tem certeza que deseja excluir 
          <span ng-show="content == 'tab-facts'">este fato</span>
          <span ng-show="content == 'tab-hypothesis'">esta hipótese</span>
          <span ng-show="content == 'tab-resolution'">esta resposta</span>
          ?
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn">Não</button>
          <button type="button" data-dismiss="modal" class="btn btn-success" id="confirmDeletePost">Sim</button>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /.page wrapper -->
