<!-- headline -->
<a name="about"></a>
<div class="content-section-top">
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro-message">
            <h2>"A educação não é a preparação para a vida, é a própria vida."</h2>
            <h5>——————— <i>John Dewey</i> ———————</h5>
            <!--<hr class="intro-divider">-->
            <h3>Construa e aplique atividades baseadas na metodologia PBL</h3>
            <ul class="list-inline intro-buttons">
              <li>
                <a href="#" class="btn btn-primary btn-lg btn-intro" pbl-scroll-to="#teacher"><span class="role-name">Sou Professor</span></a>
              </li>
              <li>
                <a href="#" class="btn btn-primary btn-lg btn-intro" pbl-scroll-to="#student"><span class="role-name">Sou Aluno</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.headline -->
  <div class="row feature-icons">
    <div class="container">
      <div id="home-feature" class="col-md-4 col-sm-4">

      <pbl-svg name="home.laptop"></pbl-svg>

      <h4>CRIE PROBLEMAS REAIS</h4>
        <p>Crie atividades que ajudam os alunos a perceber a relevância do conteúdo que aprendem</p>
      </div>
      <!-- /.col-lg-4 -->
      <div id="home-feature" class="col-md-4 col-sm-4">
        <pbl-svg name="home.bulb"></pbl-svg>
        <h4>AMBIENTE ESTIMULANTE</h4>
        <p>Ambiente de ensino intuitivo que estimula a comunicação, o raciocínio lógico e a auto-avliação</p>
      </div>
      <!-- /.col-lg-4 -->
      <div id="home-feature" class="col-md-4 col-sm-4">
        <pbl-svg name="home.map"></pbl-svg>
        <h4>EXPLORE EM GRUPOS</h4>
        <p>Guie os alunos na exploração de conteúdo para a resolução de problemas no modelo PBL</p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </div>
  <!-- /.row -->
</div>

<!-- Page Content -->
<a id="teacher"></a>
<div class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Bacon ipsum dolor amet ribs<br>Pastrami beef loin</h2>
        <p class="lead">Fugiat ground round consectetur pork loin, dolore shank incididunt excepteur alcatra ut duis.</p>
        <p class="lead">Ham sint quis proident incididunt minim landjaeger in turducken chuck tongue. Occaecat dolore t-bone pork chop excepteur meatball jerky tail incididunt beef. Pancetta officia ball tip elit ut in voluptate, ut frankfurter meatball esse.</p>
        <p class="lead">Qui pork loin short ribs, meatloaf kielbasa t-bone spare ribs excepteur leberkas culpa.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <pbl-svg class="img-responsive" name="home.teac-design"></pbl-svg>
        <div class="signup-btn-out">
          <a ng-click="openLogin(setModalMode(modal.mode.register))" class="btn btn-primary btn-block btn-intro signup-btn-in"><span class="role-name">cadastre-se</span></a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="clearfix"></div>
      <h1 class="section-heading">Como funciona o fluxo do PBL</h1>
      <pbl-svg name="home.pbl-flow"></pbl-svg>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->
<a id="student"></a>
<div class="content-section-c">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Bacon ipsum dolor amet ribs<br>Pastrami beef loin</h2>
        <p class="lead">Fugiat ground round consectetur pork loin, dolore shank incididunt excepteur alcatra ut duis.</p>
        <p class="lead">Ham sint quis proident incididunt minim landjaeger in turducken chuck tongue. Occaecat dolore t-bone pork chop excepteur meatball jerky tail incididunt beef. Pancetta officia ball tip elit ut in voluptate, ut frankfurter meatball esse.</p>
        <p class="lead">Qui pork loin short ribs, meatloaf kielbasa t-bone spare ribs excepteur leberkas culpa.</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <pbl-svg class="img-responsive" name="home.stud-design"></pbl-svg>
        <div class="signup-btn-out">
          <a ng-click="openLogin(setModalMode(modal.mode.register))" class="btn btn-primary btn-block btn-intro signup-btn-in"><span class="role-name">cadastre-se</span></a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-c -->

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
      <img src="https://s3.amazonaws.com/uploads.hipchat.com/69139/486384/vfZ1oeKOh4HQnKm/logo_flat.png"/>
      </div>
      <div class="col-lg-8 col-md-8">
        <ul class="list-inline">
          <li>
            <a href="#/about">Sobre</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#/pbl">Conheça o PBL</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#/help">Ajuda</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#/about">Créditos</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#/about">Referências</a>
          </li>
        </ul>
        <p class="copyright text-muted small">OpenPBL é um projeto experimental livre, acesse o <a href="https://github.com/DuduMonkey/OpenPBL" target="_blank">código fonte <i class="fa fa-github-square"></i></a></p>
      </div>
    </div>
  </div>
</footer>
