<!-- headline -->
<a name="about"></a>
<div class="content-section-top">
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="intro-message">
            <h2>"A educação não é a preparação para a vida, é a própria vida."</h2>
            <h5>——————— <i>John Dewey</i> ———————</h5>
            <!--<hr class="intro-divider">-->
            <h3>Construa e aplique atividades baseadas na metodologia PBL</h3>
            <ul class="list-inline intro-buttons">
              <li>
                <a href="#" class="btn btn-primary btn-lg btn-intro" pbl-scroll-to="#teacher"><span class="role-name">Sou Professor</span></a>
              </li>
              <li>
                <a href="#" class="btn btn-primary btn-lg btn-intro" pbl-scroll-to="#student"><span class="role-name">Sou Aluno</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.headline -->
  <div class="row feature-icons">
    <div class="container">
      <div id="home-feature" class="col-md-4 col-sm-4">

      <pbl-svg name="home.laptop"></pbl-svg>

      <h4>CRIE PROBLEMAS REAIS</h4>
        <p>Crie atividades que ajudam os alunos a perceber a relevância do conteúdo que aprendem</p>
      </div>
      <!-- /.col-lg-4 -->
      <div id="home-feature" class="col-md-4 col-sm-4">
        <pbl-svg name="home.bulb"></pbl-svg>
        <h4>AMBIENTE ESTIMULANTE</h4>
        <p>Ambiente de ensino intuitivo que estimula a comunicação, a auto-avaliação e o raciocínio lógico</p>
      </div>
      <!-- /.col-lg-4 -->
      <div id="home-feature" class="col-md-4 col-sm-4">
        <pbl-svg name="home.map"></pbl-svg>
        <h4>EXPLORE EM GRUPOS</h4>
        <p>Guie os alunos na exploração de conteúdo para a resolução de problemas no modelo PBL</p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
  </div>
  <!-- /.row -->
</div>

<!-- Page Content -->
<a id="teacher"></a>
<div class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Bem vindo! Conheça<br>o OpenPBL</h2>
        <h3 class="section-heading">Sistema de Apoio Para a Aprendizagem Baseada em Problemas</h3>
        <p class="lead">O PBL, conhecido no Brasil como <em>Aprendizagem Baseada em Problemas</em>, é uma metodologia de ensino que ajuda o estudante a desenvolver habilidades de compreensão flexíveis e duradouras. Os alunos trabalham em grupos para identificar o que precisam aprender para resolver um problema proposto pelo professor.</p>
        <p class="lead">Com o PBL, estudantes aprendem não só o conteúdo, mas também estratégias de raciocínio. Cadastre-se no OpenPBL e comece a criar atividades agora mesmo, ou clique <a class="pbl-more" href="#/pbl"><u>aqui</u></a> para saber mais sobre a metodologia.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <pbl-svg class="img-responsive" name="home.teac-design"></pbl-svg>
        <div class="signup-btn-out">
          <a ng-click="openLogin(setModalMode(modal.mode.register))" class="btn btn-primary btn-block btn-intro signup-btn-in"><span class="role-name">cadastre-se</span></a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="clearfix"></div>
      <h1 class="section-heading">Como funciona o fluxo do PBL</h1>
      <pbl-svg name="home.pbl-flow"></pbl-svg>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->
<a id="student"></a>
<div class="content-section-c">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Aprenda resolvendo problemas<br>Com o OpenPBL</h2>
        <p class="lead">Participe de atividades educacionais relevantes, usando suas habilidades de pesquisa e investigação.</p>
        <p class="lead">Com o OpenPBL, você trabalha de forma criativa com colegas de aula para resolver problemas elaborados e interessantes, você aprende fazendo.</p>
        <p class="lead">Cadastre-se agora e fale com seu professor. Seja bem vindo ao OpenPBL!</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <pbl-svg class="img-responsive" name="home.stud-design"></pbl-svg>
        <div class="signup-btn-out">
          <a ng-click="openLogin(setModalMode(modal.mode.register))" class="btn btn-primary btn-block btn-intro signup-btn-in"><span class="role-name">cadastre-se</span></a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-c -->

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
      <img src="assets/images/logo_flat.png"/>
      </div>
      <div class="col-lg-8 col-md-8">
        <ul class="list-inline">
          <li>
            <a href="#/">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#/about">Sobre</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#/pbl">Conheça o PBL</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#/help">Ajuda</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#/about#copyrights">Créditos</a>
          </li>
        </ul>
        <p class="copyright small">OpenPBL é um projeto experimental livre, acesse o <a href="https://github.com/DuduMonkey/OpenPBL" target="_blank">código fonte </a><i class="fa fa-github-square"></i></p>
        <p class="credit small">Made with <i class="fa fa-heart-o"></i> in Porto Alegre.</p>
      </div>
    </div>
  </div>
</footer>
